.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.order:hover {
  border: 3px solid;
  border-color: rgb(247, 193, 0);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.order h2 {
  margin-bottom: 15px;
}

.order__id {
  position: absolute;
  top: 50px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}
