.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.subtotal:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift input {
  margin-right: 5px;
}

.subtotal button {
  background: #f7d00b;
  height: 35px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  border-color: #fcd200;
  color: #111;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.subtotal button:hover {
  background-color: #ffd500;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
